.title {
  color: var(--aha-green-800);
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.world {
  background-image: url("../images/zones.png");
  background-repeat: no-repeat;
  background-size: contain;
}
